---
import Layout from "../layouts/Layout.astro";
---
	<Layout>
<div slot="article" class="w-full flex justify-center dark:bg-green-300 dark:text-black mt-5 mb-5">
	<h1 class="text-4xl">Blog</h1>

</div>



  


	</Layout>

</html>
