---
import Layout from "../layouts/Layout.astro";
---
	<Layout>
<div slot="article" class="w-full flex justify-center dark:bg-green-300 dark:text-black mt-5 mb-5">
	<h1 class="text-4xl">Cuerpo de la pagina</h1>

</div>


<div class="w-full mx-auto">
	<div class="w-full mx-auto grid grid-cols-2 gap-4">
		<div class="bg-cover h-32" style="background-image: url('public/ana.png;');"></div>
		<div class="bg-cover h-32" style="background-image: url('public/it.png');"></div>
		<div class="bg-cover h-32" style="background-image: url('public/ana.png');"></div>
		<div class="bg-cover h-32" style="background-image: url('public/it.png;');"></div>
	  </div>
	  
	  
  </div>
  


	</Layout>

</html>
