---

---

<div class="flex items-center justify-center text-black h-20 dark:bg-violet-200 dark:text-white">
    <div class="w-52 flex justify-around">

        <a href="https://www.linkedin.com/in/joselyn-yareny-contreras-navarro-10118b29b" target="_blank">
            <img src="/linkedin.png" alt="" class="rounded-lg h-8 hover:scale-125">
        </a>
       
        <a href="https://github.com/Josenyc" target="_blank">
            <img src="/github.png" alt="" class="h-8 hover:scale-125">
        </a>

        <a href="https://www.facebook.com/Joselyn.ContrerasNavarro" target="_blank">
            <img src="/facebook.png" alt="" class="h-8 hover:scale-125">
        </a>

        <a href="https://www.instagram.com/lyn.cn18" target="_blank">
            <img src="/instagram.png" alt="" class="h-8 hover:scale-125">
        </a>
    </div>
</div>
